<div>
  {{{ Menu onClick=onOpen }}}
  <div class="menu__content">
    {{{ Button label="Добавить пользователя" onClick=onAdd }}}
    {{{ Button label="Удалить пользователя" onClick=onRemove }}}
  </div>
</div>
