<div class="input-container input-container_{{inputLayoutClass}}">
  <label class="input-container__label">{{label}}
    <input
      type="{{type}}"
      name="{{name}}"
      class="input-container__input"
    />
  </label>
</div>