{{#> Page type="register" }}
  <h1 class="page__header-text">Регистрация</h1>
  {{#> Form}}
    {{> Input label="Почта" type="email" name="email" }}
    {{> Input label="Логин" type="text" name="login" }}
    {{> Input label="Имя" type="text" name="first_name" }}
    {{> Input label="Фамилия" type="text" name="second_name" }}
    {{> Input label="Телефон" type="tel" name="phone" }}
    {{> Input label="Пароль" type="password" name="password" }}
    {{> Input label="Повторите пароль" type="password" name="password" }}
    {{> Button label="Зарегистрироваться" page="auth" }}
  {{/Form}}
  {{> Link label="Войти" page="auth" }}
{{/Page}}