@import '../../assets/variables.less';


.chat-container {
  height: calc(100% - 56px - 60px);
  max-height: calc(100% - 56px - 60px);
  margin-bottom: 10px;
  border-bottom: @block-border;
  box-sizing: border-box;
  padding: 10px;
  display: flex;

  .messages__list {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    overflow: auto;
    width: 100%;
  }
}
