{{#> Page type="main" }}
  <section class="page-main__section page-main__chats-list-section">
    {{> Link label="Профиль" page="profile" class="upper" }}
    {{> Link label="404" page="404" class="upper" }}
    {{> Link label="500" page="500" class="upper" }}
    {{!-- {{#> Form}}
      {{> Input label="Поиск" type="text" name="search" }}
    {{/Form}}
    {{> ChatList }} --}}
  </section>
  <section class="page-main__section page-main__chat-section">
    {{!-- {{> Chat }} --}}
    <h1 class="page__header-text">Страница в разработке</h1>
  </section>
{{/Page}}