{{#> Page type="auth" }}
  <h1 class="page__header-text">Вход</h1>
  {{#> Form}}
    {{{ InputField label="Логин" type="text" name="login" ref="login" validate=validate.login }}}
    {{{ InputField label="Пароль" type="password" name="password" ref="password" validate=validate.password }}}
    {{{ Button label="Войти" onClick=onAuth }}}
  {{/Form}}
  {{{ Link label="Зарегистрироваться" page="register" }}}
{{/Page}}
