<div class="popup-overlay">
  <div class="popup">
    {{{ Button label="❌" type="text" class="close-popup" onClick=closePopup }}}
    <h1 class="popup__header-text">Загрузить файл</h1>
    <div class="popup__content" id="popup">
      {{#> Form}}
        {{{ UploadInput name="upload" text="Выбрать фото на компьютере" ref="imageFile" validate=validate.imageFile onChange=onChange }}}
        {{{ Button label="Сохранить" onClick=onSave }}}
      {{/Form}}
    </div>
  </div>
</div>
