<div class="popup-overlay">
  <div class="popup popup_{{layout}}">
      <button type="text" class="popup__close-button">&#10060;</button>
        <h1 class="popup__header-text">{{headerText}}</h1>
      {{> @partial-block }}
  </div>
</div>