<div class="icon-container icon-container_{{class}}">
  <img
    class="icon-container__icon"
    alt="{{alt}}"
    src="{{src}}"
  />
  {{#ifeq src undefined }}
    <span class="icon-container__no-data">
      {{#ifeq class 'small' }}
        Нет изображения
      {{else}}
        Загрузить изображение
      {{/ifeq}}
    </span>
  {{/ifeq}}
</div>
