<div class="chats-container">
  <ul class="chats-container__list">
    {{#each chats}}
      {{{ ChatCard
        id=id
        title=title
        avatar=avatar
        last_message=last_message
        unread_count=unread_count
        currentChatId=@root.currentChatId
        onClick=@root.onClick
      }}}
    {{/each}}
  </ul>
</div>
